@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");


/* Molten Core */

            #raidMC {
              width: 100%;
              text-align: center;
            }

            #raidBWL {
              width: 100%;
              text-align: center;
            }
            #raidAQ {
              width: 100%;
              text-align: center;
            }
            #raidNax {
              width: 100%;
              text-align: center;
            }



/* Bar Interior */

            #myBar {
              width: 100%;
              height: 30px;
              border-radius: 25px;
              border: 6px solid #A9A9A9;
              background-color: #4CAF50;
              text-align: center;
              line-height: 20px;
              color: white;
            }


/* Seperate Red Bar for Nax until completion */
            #NaxBar {
              width: 100%;
              height: 30px;
              border-radius: 25px;
              border-radius: 25px;
              border: 6px solid #A9A9A9;
              background-color: #FF0000;
              text-align: center;
              line-height: 20px;
              color: white;
            }

